/*.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.modal-background {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
}

.modal-content {
    background-image: linear-gradient(#C28B51, #EDC88C);
    /* solid box-shadow code - adapted from https://webdesignerhut.com/3d-buttons-with-css-dropshadow/ */
    /*box-shadow: 1px 0px 0px #382A25, 0px 1px 0px #382A25,
        2px 1px 0px #382A25, 1px 2px 0px #382A25,
        3px 2px 0px #382A25, 2px 3px 0px #382A25,
        4px 3px 0px #382A25, 3px 4px 0px #382A25,
        5px 4px 0px #382A25, 4px 5px 0px #382A25,
        6px 5px 0px #382A25, 5px 6px 0px #382A25,
        7px 6px 0px #382A25, 6px 7px 0px #382A25;
    border-radius: 8px;
    padding: 20px;
    width: 620px;
    height: 520px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-form {
    margin-top: 12px;
}*/