body {
    max-width: 1080px;
    margin: auto;
}

img {
    max-width: 15%;
    max-height: 15%;
}

.border {
    border: 1px solid blue !important;
}

.row {
    position: relative;
}

.redborder {  
    border-width: thick;
    border-style: solid;
    border-color: red;
}

.greenborder {
    border-width: thick;
    border-style: solid;
    border-color: green;
}